/* File: resources/css/app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling untuk project accordion dan tabs */
.project-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */
}

.project-item.is-open .project-details {
    max-height: 5000px; /* Cukup besar untuk menampung konten */
    padding-bottom: 1.5rem; /* 24px */
}

.project-item.is-open .project-header i {
    transform: rotate(45deg);
}

/* Tabs Folder */
.folder-tabs {
    display: flex;
    gap: 1rem;
}
.folder-tab {
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    color: #6b7280; /* gray-500 */
    font-weight: 500;
}
.folder-tab.active {
    color: #f97316; /* primary-500 */
    border-bottom-color: #f97316; /* primary-500 */
}

/* Gallery Panes */
.gallery-pane {
    display: none;
}
.gallery-pane.active {
    display: block;
}

/* Menyembunyikan gambar untuk tombol See All */
.hidden-image {
    display: none;
}